Énoncé :

Trouvez le prénom (first_name) et le nom (last_name) de tous les clients de la table ^^customer^^ qui vivent dans la ville de 'London'.

Logique : Vous devez utiliser une sous-requête pour déterminer la liste de tous les address_id qui correspondent à la ville 'London' (en joignant address et city dans la sous-requête), puis utiliser l'opérateur IN dans la requête principale pour filtrer les clients.

In [2]:
# importer des bibliothèques
from sqlalchemy import create_engine, text
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_theme(style="whitegrid")

# palette: noir et rouge
sns.set_palette(["red", "black", "gray"])

In [3]:
# path to file
DB_FILE = "sakila_master.db"   

# creer d'engine
engine = create_engine(f"sqlite:///{DB_FILE}", echo=False)
print(f"Connexion établie à la base de données : {DB_FILE}\n")

Connexion établie à la base de données : sakila_master.db

In [4]:
# Function pour faire une demande
def read_query_df(requete: str) -> pd.DataFrame:
    """
    Exécute une requête SQL et renvoie le résultat sous forme de DataFrame.

    Args:
        requete (str): La requête SQL à exécuter.

    Returns:
        pd.DataFrame: Le DataFrame contenant les données résultantes.

    Raises:
        Exception: Une erreur est affichée si la récupération ou l'exécution
            de la requête échoue.
    """

    try:
        with engine.connect() as conn:
            df = pd.read_sql(text(requete), conn)

        return df

    except Exception as e:
        print(f"Une erreur s'est produite dans la récupération des données...")

In [24]:
req = """
SELECT *
FROM city


"""

df = read_query_df(req)
df.columns

Index(['city_id', 'city', 'country_id', 'last_update'], dtype='object')

In [26]:
req = """
SELECT C.first_name, C.last_name, CT.city
FROM customer AS C
JOIN address AS A
ON C.address_id = A.address_id
JOIN city AS CT
ON A.city_id = CT.city_id
WHERE CT.city IN ('London') 
;
"""

df = read_query_df(req)
df

  first_name last_name    city
0     MATTIE   HOFFMAN  London
1      CECIL     VINES  London