# Python DataBase SQLAlchemy

In [8]:
from sqlalchemy import create_engine, text
import pandas as pd

# path to file
DB_FILE = "sakila_master.db"   

# creer d'engine
engine = create_engine(f"sqlite:///{DB_FILE}", echo=False)
print(f"Connexion établie à la base de données : {DB_FILE}\n")

def run_query_df(requete: str) -> pd.DataFrame:
    """
    Exécute une requête SQL et renvoie le résultat sous forme de DataFrame.

    Args:
        requete (str): La requête SQL à exécuter.

    Returns:
        pd.DataFrame: Le DataFrame contenant les données résultantes.

    Raises:
        Exception: Une erreur est affichée si la récupération ou l'exécution
            de la requête échoue.
    """

    try:
        with engine.connect() as conn:
            df = pd.read_sql(text(requete), conn)

            print("--- Résultat de la requête ---")
            print(df.to_markdown(index=False))
            print("-"*70)
        return df

    except Exception as e:
        print(f"Une erreur s'est produite dans la récupération des données...")

Connexion établie à la base de données : sakila_master.db

# Exercices de SQL Pur
---

In [9]:
req = """
SELECT * 
FROM sqlite_master 
WHERE type='table';
"""

df = run_query_df(req)

--- Résultat de la requête ---
| type   | name          | tbl_name      |   rootpage | sql                                                                                                                                      |
|:-------|:--------------|:--------------|-----------:|:-----------------------------------------------------------------------------------------------------------------------------------------|
| table  | actor         | actor         |          2 | CREATE TABLE actor (                                                                                                                     |
|        |               |               |            |   actor_id numeric NOT NULL ,                                                                                                            |
|        |               |               |            |   first_name VARCHAR(45) NOT NULL,                                                                                                       |
|        |               |               |            |   last_name VARCHAR(45) NOT NULL,                                                                                                        |
|        |               |               |            |   last_update TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   PRIMARY KEY  (actor_id)                                                                                                                |
|        |               |               |            |   )                                                                                                                                      |
| table  | country       | country       |          5 | CREATE TABLE country (                                                                                                                   |
|        |               |               |            |   country_id SMALLINT NOT NULL,                                                                                                          |
|        |               |               |            |   country VARCHAR(50) NOT NULL,                                                                                                          |
|        |               |               |            |   last_update TIMESTAMP,                                                                                                                 |
|        |               |               |            |   PRIMARY KEY  (country_id)                                                                                                              |
|        |               |               |            | )                                                                                                                                        |
| table  | city          | city          |          9 | CREATE TABLE city (                                                                                                                      |
|        |               |               |            |   city_id int NOT NULL,                                                                                                                  |
|        |               |               |            |   city VARCHAR(50) NOT NULL,                                                                                                             |
|        |               |               |            |   country_id SMALLINT NOT NULL,                                                                                                          |
|        |               |               |            |   last_update TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   PRIMARY KEY  (city_id),                                                                                                                |
|        |               |               |            |   CONSTRAINT fk_city_country FOREIGN KEY (country_id) REFERENCES country (country_id) ON DELETE NO ACTION ON UPDATE CASCADE              |
|        |               |               |            | )                                                                                                                                        |
| table  | address       | address       |         13 | CREATE TABLE address (                                                                                                                   |
|        |               |               |            |   address_id int NOT NULL,                                                                                                               |
|        |               |               |            |   address VARCHAR(50) NOT NULL,                                                                                                          |
|        |               |               |            |   address2 VARCHAR(50) DEFAULT NULL,                                                                                                     |
|        |               |               |            |   district VARCHAR(20) NOT NULL,                                                                                                         |
|        |               |               |            |   city_id INT  NOT NULL,                                                                                                                 |
|        |               |               |            |   postal_code VARCHAR(10) DEFAULT NULL,                                                                                                  |
|        |               |               |            |   phone VARCHAR(20) NOT NULL,                                                                                                            |
|        |               |               |            |   last_update TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   PRIMARY KEY  (address_id),                                                                                                             |
|        |               |               |            |   CONSTRAINT fk_address_city FOREIGN KEY (city_id) REFERENCES city (city_id) ON DELETE NO ACTION ON UPDATE CASCADE                       |
|        |               |               |            | )                                                                                                                                        |
| table  | language      | language      |         17 | CREATE TABLE language (                                                                                                                  |
|        |               |               |            |   language_id SMALLINT NOT NULL ,                                                                                                        |
|        |               |               |            |   name CHAR(20) NOT NULL,                                                                                                                |
|        |               |               |            |   last_update TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   PRIMARY KEY (language_id)                                                                                                              |
|        |               |               |            | )                                                                                                                                        |
| table  | category      | category      |         19 | CREATE TABLE category (                                                                                                                  |
|        |               |               |            |   category_id SMALLINT NOT NULL,                                                                                                         |
|        |               |               |            |   name VARCHAR(25) NOT NULL,                                                                                                             |
|        |               |               |            |   last_update TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   PRIMARY KEY  (category_id)                                                                                                             |
|        |               |               |            | )                                                                                                                                        |
| table  | customer      | customer      |         22 | CREATE TABLE customer (                                                                                                                  |
|        |               |               |            |   customer_id INT NOT NULL,                                                                                                              |
|        |               |               |            |   store_id INT NOT NULL,                                                                                                                 |
|        |               |               |            |   first_name VARCHAR(45) NOT NULL,                                                                                                       |
|        |               |               |            |   last_name VARCHAR(45) NOT NULL,                                                                                                        |
|        |               |               |            |   email VARCHAR(50) DEFAULT NULL,                                                                                                        |
|        |               |               |            |   address_id INT NOT NULL,                                                                                                               |
|        |               |               |            |   active CHAR(1) DEFAULT 'Y' NOT NULL,                                                                                                   |
|        |               |               |            |   create_date TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   last_update TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   PRIMARY KEY  (customer_id),                                                                                                            |
|        |               |               |            |   CONSTRAINT fk_customer_store FOREIGN KEY (store_id) REFERENCES store (store_id) ON DELETE NO ACTION ON UPDATE CASCADE,                 |
|        |               |               |            |   CONSTRAINT fk_customer_address FOREIGN KEY (address_id) REFERENCES address (address_id) ON DELETE NO ACTION ON UPDATE CASCADE          |
|        |               |               |            | )                                                                                                                                        |
| table  | film          | film          |         29 | CREATE TABLE film (                                                                                                                      |
|        |               |               |            |   film_id int NOT NULL,                                                                                                                  |
|        |               |               |            |   title VARCHAR(255) NOT NULL,                                                                                                           |
|        |               |               |            |   description BLOB SUB_TYPE TEXT DEFAULT NULL,                                                                                           |
|        |               |               |            |   release_year VARCHAR(4) DEFAULT NULL,                                                                                                  |
|        |               |               |            |   language_id SMALLINT NOT NULL,                                                                                                         |
|        |               |               |            |   original_language_id SMALLINT DEFAULT NULL,                                                                                            |
|        |               |               |            |   rental_duration SMALLINT  DEFAULT 3 NOT NULL,                                                                                          |
|        |               |               |            |   rental_rate DECIMAL(4,2) DEFAULT 4.99 NOT NULL,                                                                                        |
|        |               |               |            |   length SMALLINT DEFAULT NULL,                                                                                                          |
|        |               |               |            |   replacement_cost DECIMAL(5,2) DEFAULT 19.99 NOT NULL,                                                                                  |
|        |               |               |            |   rating VARCHAR(10) DEFAULT 'G',                                                                                                        |
|        |               |               |            |   special_features VARCHAR(100) DEFAULT NULL,                                                                                            |
|        |               |               |            |   last_update TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   PRIMARY KEY  (film_id),                                                                                                                |
|        |               |               |            |   CONSTRAINT CHECK_special_features CHECK(special_features is null or                                                                    |
|        |               |               |            |                                                            special_features like '%Trailers%' or                                         |
|        |               |               |            |                                                            special_features like '%Commentaries%' or                                     |
|        |               |               |            |                                                            special_features like '%Deleted Scenes%' or                                   |
|        |               |               |            |                                                            special_features like '%Behind the Scenes%'),                                 |
|        |               |               |            |   CONSTRAINT CHECK_special_rating CHECK(rating in ('G','PG','PG-13','R','NC-17')),                                                       |
|        |               |               |            |   CONSTRAINT fk_film_language FOREIGN KEY (language_id) REFERENCES language (language_id) ,                                              |
|        |               |               |            |   CONSTRAINT fk_film_language_original FOREIGN KEY (original_language_id) REFERENCES language (language_id)                              |
|        |               |               |            | )                                                                                                                                        |
| table  | film_actor    | film_actor    |         35 | CREATE TABLE film_actor (                                                                                                                |
|        |               |               |            |   actor_id INT NOT NULL,                                                                                                                 |
|        |               |               |            |   film_id  INT NOT NULL,                                                                                                                 |
|        |               |               |            |   last_update TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   PRIMARY KEY  (actor_id,film_id),                                                                                                       |
|        |               |               |            |   CONSTRAINT fk_film_actor_actor FOREIGN KEY (actor_id) REFERENCES actor (actor_id) ON DELETE NO ACTION ON UPDATE CASCADE,               |
|        |               |               |            |   CONSTRAINT fk_film_actor_film FOREIGN KEY (film_id) REFERENCES film (film_id) ON DELETE NO ACTION ON UPDATE CASCADE                    |
|        |               |               |            | )                                                                                                                                        |
| table  | film_category | film_category |         40 | CREATE TABLE film_category (                                                                                                             |
|        |               |               |            |   film_id INT NOT NULL,                                                                                                                  |
|        |               |               |            |   category_id SMALLINT  NOT NULL,                                                                                                        |
|        |               |               |            |   last_update TIMESTAMP NOT NULL,                                                                                                        |
|        |               |               |            |   PRIMARY KEY (film_id, category_id),                                                                                                    |
|        |               |               |            |   CONSTRAINT fk_film_category_film FOREIGN KEY (film_id) REFERENCES film (film_id) ON DELETE NO ACTION ON UPDATE CASCADE,                |
|        |               |               |            |   CONSTRAINT fk_film_category_category FOREIGN KEY (category_id) REFERENCES category (category_id) ON DELETE NO ACTION ON UPDATE CASCADE |
|        |               |               |            | )                                                                                                                                        |
| table  | film_text     | film_text     |         45 | CREATE TABLE film_text (                                                                                                                 |

### Exercices de Lecture (SELECT)

1.  **Affichage, Alias, Ordre et Limite :**
   
      Affichez les **5 titres de films** (`title` de la table `film`) classés par **ordre alphabétique croissant**, en utilisant un **alias** pour la colonne.

In [10]:
req = """
SELECT title AS t
FROM film
ORDER BY title ASC
LIMIT 5;
"""

df = run_query_df(req)

--- Résultat de la requête ---
| t                |
|:-----------------|
| ACADEMY DINOSAUR |
| ACE GOLDFINGER   |
| ADAPTATION HOLES |
| AFFAIR PREJUDICE |
| AFRICAN EGG      |
----------------------------------------------------------------------

2.  **Agrégation**

Calculez 
   - la **moyenne**, 
   - le **minimum**, 
   - le **maximum**, 
   - le **nombre total** et 
   - la **somme** du champ `length` (durée en minutes) de tous les films dans la table `film`.

In [11]:
req = """
SELECT  AVG(length) as mean, 
MIN(length) as min,
MAX(length) as max,
COUNT(*) as count,
SUM(length) as somme
FROM film;
"""
df = run_query_df(req)

--- Résultat de la requête ---
|    mean |   min |   max |   count |   somme |
|--------:|------:|------:|--------:|--------:|
| 115.272 |    46 |   185 |    1000 |  115272 |
----------------------------------------------------------------------

### Exercices de Modification (INSERT / UPDATE)

3.  **Insertion (`INSERT`) avec gestion d'ID et de Date :**
    * **Insérez** un nouvel acteur avec le prénom `"JEAN-CLAUDE"`, le nom `"VANDAMME"`, le nouvel ID calculé, et la date/heure actuelle pour le champ **`last_update`**.
      * **Trouvez** l'**`actor_id` maximum** existant dans la table `actor`, puis **calculez le nouvel ID** en ajoutant 1.
      * **Format de date requis pour le `last_update` :** Utilisez le module `datetime` pour générer la chaîne `YYYY-MM-DD HH:MM:SS`.

In [21]:
# Fonctionnalité supplémentaire
def blob_to_int(x):
    """
    Convertit un objet BLOB (bytes ou bytearray) en entier.

    Args:
        x (bytes | bytearray | any): Valeur à convertir.

    Returns:
        int | any: L'entier obtenu à partir du BLOB, ou la valeur d'origine
        si aucune conversion n'est effectuée.
    """
        
    if isinstance(x, (bytes, bytearray)):
        return int.from_bytes(x, byteorder='little')
    return x

In [24]:
# Trouvez l'actor_id maximum
req = """
SELECT MAX(actor_id) as max
FROM actor;
"""

df = run_query_df(req)

--- Résultat de la requête ---
|   max |
|------:|
|   201 |
----------------------------------------------------------------------

In [25]:
def run_sql(query: str, params: dict = None):
    """
    Exécute une requête SQL (INSERT, UPDATE, DELETE, etc.) avec paramètres.
    
    Args:
        query (str): La requête SQL avec paramètres (:param)
        params (dict, optional): Valeurs à substituer dans la requête
    
    Returns:
        int: Nombre de lignes affectées

    Raises:
        Exception: Affichée si une erreur survient lors de l'exécution ou de
            la validation de la transaction.
    """
    try:
        with engine.begin() as conn:  # begin = transaction auto-commit
            result = conn.execute(text(query), params or {})
            return result.rowcount
    except Exception as e:
        print(f"Erreur SQL: {e}")
        return 0

In [26]:
def insert_into_table(query, data):
    """
    Exécute une requête d'insertion SQL avec les données fournies.

    Args:
        query (str): La requête SQL paramétrée à exécuter.
        data (dict | list | tuple): Les données à insérer. Leur structure doit
            correspondre aux paramètres attendus par la requête.

    Returns:
        None

    Raises:
        Exception: Affichée si une erreur survient lors de l'exécution ou de
            la validation de la transaction.
    """
    try:
        with engine.connect() as conn:
            conn.execute(text(query), data)
  
    except Exception as e:
        print(f"Une erreur s'est produite dans l'insertion' des données...{e}")

In [28]:
last_id = blob_to_int(df.iloc[0, 0])

new_id = int(last_id + 1)

data = {"actor_id": new_id,
    "first_name": "JEAN-CLAUDE",
    "last_name": "VANDAMME",
    
}

req = """
INSERT INTO actor (actor_id, first_name, last_name, last_update) 
VALUES (:actor_id, :first_name, :last_name, CURRENT_TIMESTAMP); 
""" 

# insert_into_table(req, data)

4.  **Modification (`UPDATE`) par ID :** **Modifiez** l'acteur que vous venez d'insérer (en le ciblant par son **ID unique**) pour changer son prénom de `"JEAN-CLAUDE"` à `"JC"`.

In [29]:
def simple_update(query, data):
    """
    Выполняет UPDATE-запрос.
    
    :param query: SQL UPDATE с плейсхолдерами (:key)
    :param data: словарь с данными для подстановки
    """
    try:
        with engine.connect() as conn:
            conn.execute(text(query), data)
            conn.commit()
        print("Запись успешно обновлена!")
    except Exception as e:
        print("Ошибка при обновлении:", e)

In [17]:
query_update = """
UPDATE actor
SET first_name = :new_first_name
WHERE actor_id = :actor_id
"""
data_update = {
    "new_first_name": "JC",
     "actor_id": new_id
     }

simple_update(query_update, data_update)

Запись успешно обновлена!

In [30]:
req = """
SELECT * 
FROM actor 
WHERE actor_id > 200;
"""
df = run_query_df(req)

--- Résultat de la requête ---
|   actor_id | first_name   | last_name   | last_update         |
|-----------:|:-------------|:------------|:--------------------|
|        201 | JC           | VANDAMME    | 2025-11-24 15:53:14 |
----------------------------------------------------------------------